<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a
      href="/"
      class="logo d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
    >
      DjangoShare
    </a>
    
    {% if user.is_authenticated %} 
    <ul
      class="nav justify-content-center"
    >
      <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>
    {% endif %}
      

    
    {% if user.is_authenticated %}
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle text-capitalize" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.username }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/accounts/profile">My Profile</a></li>
        <li><a class="dropdown-item" href="#">Change Password</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
      </ul>
    </div>
    {% else %}
    <div class="text-end">
      <a href="/accounts/login" type="button" class="btn btn-outline-light me-2">Login</a>
      <a href="/accounts/signup" type="button" class="btn btn-warning">Sign-up</a>
    </div>
    {% endif %}
      
  </div>
</nav>
