body{
    background-image: url('../imgs/double-bubble-outline.webp');
    background-repeat: repeat;
}

/* Forms */

.form > div{
  background-color: #ebeced80;
}

#hint_id_password1 {
  display: none;
}

/* Branding */
.logo {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}