{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main class="content">

        {% include 'includes/navigation.html' %}

        <section class="card col-8 p-5">
            <div class="form">
                <h2 class="title mb-5">Share Photo</h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Upload Image" class="btn btn-outline-primary">
                </form>
            </div>
        </section>
    </main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
