{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<section class="card col-6 offset-3 p-5">
    <div class="form">
        <h2 class="title mb-3">Share Photo</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Upload Image" class="btn btn-outline-primary">
        </form>
    </div>
</section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
